
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://asna.com/us/services/migration">Why Migrations?</a></b></li>
                        <li><a href="https://asna.com/us/products/monarch">What is Monarch Application?</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.asna.com/products/overview">Products</a></b></li>
                        <li><a href="https://www.asna.com/products/developer-tools">Developer Tools</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.asna.com/use-cases">Use Cases</a></li>
                        <li><a href="https://www.asna.com/asna-community">Community</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.asna.com/company" target="_blank" rel="noopener">Company</a></b></li>
                        <li><a href="https://asna.com/us/company">About Us</a></li>
                        <li><a href="https://asna.com/us/articles/newsletter">Newsroom</a></li>
                        <li><a href="https://asna.com/us/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://www.asna.com/legal">Legal</a></li>
                        <li><a href="https://asna.com/us/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2003-2021 ASNA, Inc. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="http://twitter.com/asna">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/asna">Youtube</a></li>
                    <li class="fa fa-github"><a href="https://github.com/asna">GitHub</a></li>
                    <li class="fa fa-linkedin"><a href="https://www.linkedin.com/company/asna">Linkedin</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/asna">Facebook</a></li>

                </ul>
            </div>
        </div>
    </div>
