<div class="logo-mobile">
    <a href="/">
        <img src="/images/asna-qsys-64.png" alt="ASNA QSys Docs" title="ASNA QSys Docs" />
    </a>
</div>

<div class="asna-search" id="search-div">
</div>

<div class="sidebar-toggle">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="nav-container hidden-sm hidden-xs">
    <div id="tabs">
        <ul class="tabs jsTOCHorizontal">
        {%- for entry in site.data.toc.horizontalnav -%}
          <li><a href="{{ entry.path }}" id="{{ entry.node }}">{{ entry.title }}</a></li>
        {%- endfor -%}
        </ul>
    </div>
    <div class="ctrl-right">
        <a href="javascript:void(0)" id="menu-toggle" aria-label="Current page's menu toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
    </div>
</div>
