:root {
    --pagefind-ui-scale: .63;
}

html {
    font-family: $font;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    background-color: $bg-body;
    color: $body-text;
    font-family: $font;
    font-size: $body-text-size;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
}

a {
    color: $primary-links;
    text-decoration: none;
    outline: none;
    &:hover, &:focus {
        opacity: .8;
        text-decoration: none;
    }
}

.pagefind-ui__results-area {
    background-color: var(--pagefind-ui-background);
    margin-left: 10rem;
}

.pagefind-ui__drawer {
    position: fixed;
}

.pagefind-ui__search-clear {
    padding: 0 calc(1rem * var(--pagefind-ui-scale)) 0 calc(1rem * var(--pagefind-ui-scale)) !important;
    border-color: lightgray
}